*{padding:0px;margin:0px; box-sizing:border-box};

.footer{

    bottom:0px;
    width:100%;
    background-color:black;
}
.footer_ul {
    padding:0px;
}
.footer_ul li{
    list-style:none;
    
}
.footer_ul li a:hover{
    color:#d8d8d8
}
.footer_ul li a{
    color:#fff;
    
}
.br {
    height: 2px;
    background: #15ff00;
    width: 100%;
}
.footer_right{
    display:flex;
}
@media screen and (max-width:768px){

    
.footer_right{
    display:inline-block;
}
}